#app {
    width: 500px;
    text-align: center;
}


.con {
    display: block;
    margin: 10px;
    padding: 5px;
    width: 100%;
}

.zero {
    background-color: #E6E6FA;
}

.not-many {
    background-color: #B0C4DE;
}

.many {
    background-color: #D8BFD8;
}